<div class="main p-4">
  <header class="d-flex justify-content-between align-items-center">
    <h1 class="m-3">{{ "speeches.add.add" | translate }}</h1>
    <span mat-flat-button matDialogClose class="text-danger">
      <mat-icon>X</mat-icon>
    </span>
  </header>
  <form [formGroup]="form">
    <div class="row mt-3">
      <div class="col-md-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ "speeches.add.member" | translate }}</mat-label>
          <mat-select formControlName="boardMemberId">
            <mat-option
              *ngFor="let boardMember of boardMembers"
              [value]="boardMember?.id"
            >
              {{ boardMember?.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="mb-3">
        <label for="contentAr" class="form-label">{{ "speeches.add.contentAr" | translate }}</label>
        <input
          type="text"
          formControlName="contentAr"
          class="form-control"
          id="contentAr"
          name="contentAr"
          [class.is-invalid]="contentAr?.invalid && contentAr?.touched"
          [class.is-valid]="contentAr?.valid && contentAr?.touched"
        />
        <div [hidden]="contentAr?.valid || contentAr?.untouched">
          <small *ngIf="contentAr?.errors?.['required']">
            * ContentAr is required.
          </small>
        </div>
      </div>

      <div class="mb-3">
        <label for="contentEn" class="form-label">{{ "speeches.add.contentEn" | translate }}</label>
        <input
          type="text"
          formControlName="contentEn"
          class="form-control"
          id="contentEn"
          name="contentEn"
          [class.is-invalid]="contentEn?.invalid && contentEn?.touched"
          [class.is-valid]="contentEn?.valid && contentEn?.touched"
        />
        <div [hidden]="contentEn?.valid || contentEn?.untouched">
          <small *ngIf="contentEn?.errors?.['required']">
            * ContentEn is required.
          </small>
        </div>
      </div>
    </div>
  </form>

  <footer class="tw-p-6">
    <div class="d-flex justify-content-center align-items-center">
      <div mat-flat-button class="btn btn-success py-1 px-5 mx-2">
        <button [disabled]="form.invalid" (click)="Add()">
          {{ "speeches.add.create" | translate }}
        </button>
      </div>

      <div mat-flat-button matDialogClose class="btn btn-danger py-1 px-5">
        <button>{{ "speeches.add.close" | translate }}</button>
      </div>
    </div>
  </footer>
</div>
