<div class="main container py-5">
  <div class="top">
    <h1>{{ "members.all.allMembers" | translate }}</h1>
    <button class="add" (click)="Add()">
      {{ "members.all.add" | translate }}
    </button>
  </div>
  <div class="tableContainer">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>{{ "members.all.name" | translate }}</th>
          <th>{{ "members.all.position" | translate }}</th>
          <th>{{ "members.all.image" | translate }}</th>
          <th>{{ "members.all.actions" | translate }}</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let boardMember of boardMembers; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ boardMember.name }}</td>
          <td>{{ boardMember.position }}</td>
          <td>
            <img [src]="boardMember.image" alt="" />
          </td>
          <td>
            <button class="details" (click)="Details(boardMember)">
              {{ "members.all.details" | translate }}
            </button>
            <button class="update" (click)="Update(boardMember)">
              {{ "members.all.update" | translate }}
            </button>
            <button class="delete" (click)="Delete(boardMember.id)">
              {{ "members.all.delete" | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
