<div class="main container py-5">
  <div class="top">
    <h1>{{ "projects.all.allProjects" | translate }}</h1>
    <button class="add" (click)="Add()">
      {{ "projects.all.add" | translate }}
    </button>
    <div class="filter">
      <h4>{{ "projects.all.company" | translate }}</h4>
      <select #companyId (change)="FilterProjects(companyId)">
        <option value="0">{{ "projects.all.all" | translate }}</option>
        <option [value]="company.id" *ngFor="let company of companies">
          {{ company.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="tableContainer">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>{{ "projects.all.name" | translate }}</th>
          <th>{{ "projects.all.description" | translate }}</th>
          <th>{{ "projects.all.address" | translate }}</th>
          <th>{{ "projects.all.image" | translate }}</th>
          <th>{{ "projects.all.siteEngineerName" | translate }}</th>
          <th>{{ "projects.all.projectProgressPercentage" | translate }}</th>
          <th>{{ "projects.all.company" | translate }}</th>
          <th>{{ "projects.all.actions" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ project.name }}</td>
          <td>{{ project.description }}</td>
          <td>{{ project.address }}</td>
          <td>
            <img [src]="project.image" alt="" />
          </td>
          <td>{{ project.siteEngineerName }}</td>
          <td>{{ project.projectProgressPercentage }}%</td>
          <td>{{ project.companyName }}</td>
          <td>
            <button class="details" (click)="Details(project)">
              {{ "projects.all.details" | translate }}
            </button>
            <button class="update" (click)="Update(project)">
              {{ "projects.all.update" | translate }}
            </button>
            <button class="delete" (click)="Delete(project.id)">
              {{ "projects.all.delete" | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
