<header class="flex-column flex-lg-row container">
  <div class="left flex-column flex-md-row">
    <div class="logo">
      {{ "header.logo" | translate }}
    </div>
    <ul class="links">
      <li>
        <a routerLink="/home" routerLinkActive="active">{{
          "header.home" | translate
        }}</a>
      </li>
      <li>
        <a routerLink="/apply" routerLinkActive="active">{{
          "header.apply" | translate
        }}</a>
      </li>
    </ul>
  </div>
  <div class="right">
    <!-- <ul [hidden]="isUserLogged">
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
    </ul> -->
    <ul [hidden]="!isUserLogged">
      <li [hidden]="!isAdmin">
        <select class="dashBoard" onchange="window.location.href = this.value;">
          <option>
            <a routerLink="/">{{ "header.dashBoard" | translate }}</a>
          </option>
          <option value="/companies">
            <a routerLink="/companies">{{ "header.companies" | translate }}</a>
          </option>
          <option value="/members">
            <a routerLink="/members">{{ "header.members" | translate }}</a>
          </option>
          <option value="/speeches">
            <a routerLink="/speeches">{{ "header.speeches" | translate }}</a>
          </option>
          <option value="/clients">
            <a routerLink="/clients">{{ "header.clients" | translate }}</a>
          </option>
          <option value="/homeImages">
            <a routerLink="/homeImages">{{
              "header.homeImages" | translate
            }}</a>
          </option>
          <option value="/addresses">
            <a routerLink="/addresses">{{ "header.addresses" | translate }}</a>
          </option>

          <option value="/jobs">
            <a routerLink="/jobs">{{ "header.jobs" | translate }}</a>
          </option>
          <option value="/forms">
            <a routerLink="/forms">{{ "header.forms" | translate }}</a>
          </option>
          <option value="/posts">
            <a routerLink="/posts">{{ "header.posts" | translate }}</a>
          </option>
          <option value="/products">
            <a routerLink="/products">{{ "header.products" | translate }}</a>
          </option>
          <option value="/services">
            <a routerLink="/services">{{ "header.services" | translate }}</a>
          </option>
          <option value="/projects">
            <a routerLink="/projects">{{ "header.projects" | translate }}</a>
          </option>
          <option value="/projectPhases">
            <a routerLink="/projectPhases">{{
              "header.projectPhases" | translate
            }}</a>
          </option>
          <option value="/phaseItems">
            <a routerLink="/phaseItems">{{
              "header.phaseItems" | translate
            }}</a>
          </option>
        </select>
      </li>
      <li [hidden]="!isAdmin">
        <a routerLink="/addUser" routerLinkActive="active">{{
          "header.addUser" | translate
        }}</a>
      </li>
      <li>
        <a routerLink="/logout" (click)="LogOut()">{{
          "header.logout" | translate
        }}</a>
      </li>
    </ul>
    <button class="nav-link" (click)="changeLanguage()">
      {{ lang == "en" ? "عربي" : "English" }}
    </button>
  </div>
</header>
