<div class="main container py-5">
  <div class="top">
    <h1>{{ "speeches.all.allSpeeches" | translate }}</h1>
    <button class="add" (click)="Add()">{{ "speeches.all.add" | translate }}</button>
    <div class="filter">
      <h4>{{ "speeches.all.member" | translate }}</h4>
      <select #boardMemberId (change)="FilterBoardMemberSpeeches(boardMemberId)">
        <option value="0">{{ "speeches.all.all" | translate }}</option>
        <option
          [value]="boardMember.id"
          *ngFor="let boardMember of boardMembers"
        >
          {{ boardMember.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="tableContainer">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>{{ "speeches.all.content" | translate }}</th>
          <th>{{ "speeches.all.memberName" | translate }}</th>
          <th>{{ "speeches.all.memberImage" | translate }}</th>
          <th>{{ "speeches.all.memberPosition" | translate }}</th>
          <th>{{ "speeches.all.actions" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let boardMemberSpeech of boardMemberSpeeches; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ boardMemberSpeech.content }}</td>
          <td>{{ boardMemberSpeech.boardMemberName }}</td>
          <td>
            <img [src]="boardMemberSpeech.boardMemberImage" alt="" />
          </td>
          <td>{{ boardMemberSpeech.boardMemberPosition }}</td>
          <td>
            <button class="details" (click)="Details(boardMemberSpeech)">
              {{ "speeches.all.details" | translate }}
            </button>
            <button class="update" (click)="Update(boardMemberSpeech)">{{ "speeches.all.update" | translate }}</button>
            <button class="delete" (click)="Delete(boardMemberSpeech.id)">
              {{ "speeches.all.delete" | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
