<div class="main container py-5">
  <div class="top">
    <h1>{{ "phaseItems.all.allItems" | translate }}</h1>
    <button class="add" (click)="Add()" [hidden]="(role == 'Engineer')">
      {{ "phaseItems.all.add" | translate }}
    </button>

    <div class="filter">
      <h4>{{ "phaseItems.all.phase" | translate }}</h4>
      <select #projectPhaseId (change)="FilterPhaseItems(projectPhaseId)">
        <option value="0">{{ "phaseItems.all.all" | translate }}</option>
        <option
          [value]="projectPhase.id"
          *ngFor="let projectPhase of projectPhases"
        >
          {{ projectPhase.name }}
        </option>
      </select>
    </div>

    <div class="filter">
      <h4>{{ "phaseItems.all.project" | translate }}</h4>
      <select #projectId (change)="FilterProjectPhases(projectId)">
        <option value="0">{{ "phaseItems.all.all" | translate }}</option>
        <option [value]="project.id" *ngFor="let project of projects">
          {{ project.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="tableContainer">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>{{ "phaseItems.all.number" | translate }}</th>
          <th>{{ "phaseItems.all.name" | translate }}</th>
          <th>{{ "phaseItems.all.acumulativePercentage" | translate }}</th>
          <th>{{ "phaseItems.all.progressPercentage" | translate }}</th>
          <th>{{ "phaseItems.all.executionProgress" | translate }}</th>
          <th>{{ "phaseItems.all.rfi" | translate }}</th>
          <th>{{ "phaseItems.all.wir" | translate }}</th>
          <th>{{ "phaseItems.all.schedule" | translate }}</th>
          <th>{{ "phaseItems.all.unit" | translate }}</th>
          <th>{{ "phaseItems.all.initialInventoryQuantities" | translate }}</th>
          <th>{{ "phaseItems.all.actualInventoryQuantities" | translate }}</th>
          <th>{{ "phaseItems.all.percentageLossOrExceed" | translate }}</th>
          <th>{{ "phaseItems.all.phaseName" | translate }}</th>
          <th>{{ "phaseItems.all.actions" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let phaseItem of phaseItems; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ phaseItem.number }}</td>
          <td>{{ phaseItem.name }}</td>
          <td>{{ phaseItem.acumulativePercentage }}</td>
          <td>{{ phaseItem.progressPercentage }}</td>
          <td>{{ phaseItem.executionProgress }}</td>
          <td>{{ phaseItem.rfi }}</td>
          <td>{{ phaseItem.wir }}</td>
          <td>{{ phaseItem.schedule }}</td>
          <td>{{ phaseItem.unit }}</td>
          <td>{{ phaseItem.initialInventoryQuantities }}</td>
          <td>{{ phaseItem.actualInventoryQuantities }}</td>
          <td>{{ phaseItem.percentageLossOrExceed }}</td>
          <td>{{ phaseItem.projectPhaseName }}</td>
          <td>
            <button class="details" (click)="Details(phaseItem)">
              {{ "phaseItems.all.details" | translate }}
            </button>
            <button class="update" (click)="Update(phaseItem)">
              {{ "phaseItems.all.update" | translate }}
            </button>
            <button class="delete" (click)="Delete(phaseItem.id)" [hidden]="(role == 'Engineer')">
              {{ "phaseItems.all.delete" | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
