<div class="main container py-5">
  <div class="top">
    <h1>{{ "forms.all.allForms" | translate }}</h1>
    <div class="filter">
      <h4>{{ "forms.all.job" | translate }}</h4>
      <select #jobId (change)="FilterForms(jobId)">
        <option value="0">{{ "forms.all.all" | translate }}</option>
        <option [value]="job.id" *ngFor="let job of jobs">
          {{ job.title }}
        </option>
      </select>
    </div>
  </div>
  <div class="tableContainer">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>{{ "forms.all.fullName" | translate }}</th>
          <th>{{ "forms.all.address" | translate }}</th>
          <th>{{ "forms.all.cv" | translate }}</th>
          <th>{{ "forms.all.jobTitle" | translate }}</th>
          <th>{{ "forms.all.actions" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let form of forms; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ form.fullName }}</td>
          <td>{{ form.address }}</td>
          <td>
            <img [src]="form.cv" alt="" />
          </td>
          <td>{{ form.jobTitle }}</td>
          <td>
            <button class="details" (click)="Details(form)">{{ "forms.all.details" | translate }}</button>
            <button class="delete" (click)="Delete(form.id)">{{ "forms.all.delete" | translate }}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
