<div class="main container py-5">
  <div class="top">
    <h1>{{ "services.all.allServices" | translate }}</h1>
    <button class="add" (click)="Add()">{{ "services.all.add" | translate }}</button>
    <div class="filter">
      <h4>{{ "services.all.company" | translate }}</h4>
      <select #companyId (change)="FilterServices(companyId)">
        <option value="0">{{ "services.all.all" | translate }}</option>
        <option [value]="company.id" *ngFor="let company of companies">
          {{ company.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="tableContainer">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>{{ "services.all.name" | translate }}</th>
          <th>{{ "services.all.description" | translate }}</th>
          <th>{{ "services.all.image" | translate }}</th>
          <th>{{ "services.all.company" | translate }}</th>
          <th>{{ "services.all.actions" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let service of services; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ service.name }}</td>
          <td>{{ service.description }}</td>
          <td>
            <img [src]="service.image" alt="" />
          </td>
          <td>{{ service.companyName }}</td>
          <td>
            <button class="details" (click)="Details(service)">{{ "services.all.details" | translate }}</button>
            <button class="update" (click)="Update(service)">{{ "services.all.update" | translate }}</button>
            <button class="delete" (click)="Delete(service.id)">{{ "services.all.delete" | translate }}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
