<div class="main container py-5">
  <div class="top">
    <h1>{{ "phases.all.allPhases" | translate }}</h1>
    <button class="add" (click)="Add()">{{ "phases.all.add" | translate }}</button>
    <div class="filter">
      <h4>{{ "phases.all.project" | translate }}</h4>
      <select #projectId (change)="FilterProjectPhases(projectId)">
        <option value="0">{{ "phases.all.all" | translate }}</option>
        <option [value]="project.id" *ngFor="let project of projects">
          {{ project.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="tableContainer">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>{{ "phases.all.name" | translate }}</th>
          <th>{{ "phases.all.project" | translate }}</th>
          <th>{{ "phases.all.image" | translate }}</th>
          <th>{{ "phases.all.actions" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let phase of phases; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ phase.name }}</td>
          <td>{{ phase.projectName }}</td>
          <td>
            <img [src]="phase.projectImage" alt="" />
          </td>
          <td>
            <button class="details" (click)="Details(phase)">{{ "phases.all.details" | translate }}</button>
            <button class="update" (click)="Update(phase)">{{ "phases.all.update" | translate }}</button>
            <button class="delete" (click)="Delete(phase.id)">{{ "phases.all.delete" | translate }}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
