<div class="main container py-5">
  <div class="top">
    <h1>{{ "companies.all.allCompanies" | translate }}</h1>
    <button class="add" (click)="Add()">{{ "companies.all.add" | translate }}</button>
  </div>
  <div class="tableContainer">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>{{ "companies.all.name" | translate }}</th>
          <th>{{ "companies.all.slogan" | translate }}</th>
          <th>{{ "companies.all.employees" | translate }}</th>
          <th>{{ "companies.all.image" | translate }}</th>
          <th>{{ "companies.all.email" | translate }}</th>
          <th>{{ "companies.all.phone" | translate }}</th>
          <th>{{ "companies.all.link" | translate }}</th>
          <th>{{ "companies.all.actions" | translate }}</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let company of companies; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ company.name }}</td>
          <td>{{ company.slogan }}</td>
          <td>{{ company.employees }}</td>
          <td>
            <img [src]="company.image" alt="" />
          </td>
          <td>{{ company.email }}</td>
          <td>{{ company.phone }}</td>
          <td>{{ company.link }}</td>
          <td>
            <button class="details" (click)="Details(company)">{{ "companies.all.details" | translate }}</button>
            <button class="update" (click)="Update(company)">{{ "companies.all.update" | translate }}</button>
            <button class="delete" (click)="Delete(company.id)">{{ "companies.all.delete" | translate }}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
