<div class="main p-4">
  <header class="d-flex justify-content-between align-items-center">
    <h1 class="m-3">{{ "projects.add.add" | translate }}</h1>
    <span mat-flat-button matDialogClose class="text-danger">
      <mat-icon>X</mat-icon>
    </span>
  </header>
  <form [formGroup]="form">
    <div class="row mt-3">
      <div class="col-md-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ "projects.add.company" | translate }}</mat-label>
          <mat-select formControlName="companyId">
            <mat-option *ngFor="let company of companies" [value]="company?.id">
              {{ company?.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="mb-3">
        <label for="nameAr" class="form-label">{{ "projects.add.nameAr" | translate }}</label>
        <input
          type="text"
          formControlName="nameAr"
          class="form-control"
          id="nameAr"
          name="nameAr"
          [class.is-invalid]="nameAr?.invalid && nameAr?.touched"
          [class.is-valid]="nameAr?.valid && nameAr?.touched"
        />
        <div [hidden]="nameAr?.valid || nameAr?.untouched">
          <small *ngIf="nameAr?.errors?.['required']">
            * NameAr is required.
          </small>
        </div>
      </div>

      <div class="mb-3">
        <label for="nameEn" class="form-label">{{ "projects.add.nameEn" | translate }}</label>
        <input
          type="text"
          formControlName="nameEn"
          class="form-control"
          id="nameEn"
          name="nameEn"
          [class.is-invalid]="nameEn?.invalid && nameEn?.touched"
          [class.is-valid]="nameEn?.valid && nameEn?.touched"
        />
        <div [hidden]="nameEn?.valid || nameEn?.untouched">
          <small *ngIf="nameEn?.errors?.['required']">
            * NameEn is required.
          </small>
        </div>
      </div>

      <div class="mb-3">
        <label for="descriptionAr" class="form-label">{{ "projects.add.descriptionAr" | translate }}</label>
        <input
          type="text"
          formControlName="descriptionAr"
          class="form-control"
          id="descriptionAr"
          name="descriptionAr"
          [class.is-invalid]="descriptionAr?.invalid && descriptionAr?.touched"
          [class.is-valid]="descriptionAr?.valid && descriptionAr?.touched"
        />
        <div [hidden]="descriptionAr?.valid || descriptionAr?.untouched">
          <small *ngIf="descriptionAr?.errors?.['required']">
            * DescriptionAr is required.
          </small>
        </div>
      </div>

      <div class="mb-3">
        <label for="descriptionEn" class="form-label">{{ "projects.add.descriptionEn" | translate }}</label>
        <input
          type="text"
          formControlName="descriptionEn"
          class="form-control"
          id="descriptionEn"
          name="descriptionEn"
          [class.is-invalid]="descriptionEn?.invalid && descriptionEn?.touched"
          [class.is-valid]="descriptionEn?.valid && descriptionEn?.touched"
        />
        <div [hidden]="descriptionEn?.valid || descriptionEn?.untouched">
          <small *ngIf="descriptionEn?.errors?.['required']">
            * DescriptionEn is required.
          </small>
        </div>
      </div>

      <div class="mb-3">
        <label for="addressAr" class="form-label">{{ "projects.add.addressAr" | translate }}</label>
        <input
          type="text"
          formControlName="addressAr"
          class="form-control"
          id="addressAr"
          name="addressAr"
          [class.is-invalid]="addressAr?.invalid && addressAr?.touched"
          [class.is-valid]="addressAr?.valid && addressAr?.touched"
        />
        <div [hidden]="addressAr?.valid || addressAr?.untouched">
          <small *ngIf="addressAr?.errors?.['required']">
            * AddressAr is required.
          </small>
        </div>
      </div>

      <div class="mb-3">
        <label for="addressEn" class="form-label">{{ "projects.add.addressEn" | translate }}</label>
        <input
          type="text"
          formControlName="addressEn"
          class="form-control"
          id="addressEn"
          name="addressEn"
          [class.is-invalid]="addressEn?.invalid && addressEn?.touched"
          [class.is-valid]="addressEn?.valid && addressEn?.touched"
        />
        <div [hidden]="addressEn?.valid || addressEn?.untouched">
          <small *ngIf="addressEn?.errors?.['required']">
            * AddressEn is required.
          </small>
        </div>
      </div>

      <div class="mb-3">
        <label for="siteEngineerNameAr" class="form-label"
          >{{ "projects.add.siteEngineerNameAr" | translate }}</label
        >
        <input
          type="text"
          formControlName="siteEngineerNameAr"
          class="form-control"
          id="siteEngineerNameAr"
          name="siteEngineerNameAr"
          [class.is-invalid]="
            siteEngineerNameAr?.invalid && siteEngineerNameAr?.touched
          "
          [class.is-valid]="
            siteEngineerNameAr?.valid && siteEngineerNameAr?.touched
          "
        />
        <div
          [hidden]="siteEngineerNameAr?.valid || siteEngineerNameAr?.untouched"
        >
          <small *ngIf="siteEngineerNameAr?.errors?.['required']">
            * SiteEngineerNameAr is required.
          </small>
        </div>
      </div>

      <div class="mb-3">
        <label for="siteEngineerNameEn" class="form-label"
          >{{ "projects.add.siteEngineerNameEn" | translate }}</label
        >
        <input
          type="text"
          formControlName="siteEngineerNameEn"
          class="form-control"
          id="siteEngineerNameEn"
          name="siteEngineerNameEn"
          [class.is-invalid]="
            siteEngineerNameEn?.invalid && siteEngineerNameEn?.touched
          "
          [class.is-valid]="
            siteEngineerNameEn?.valid && siteEngineerNameEn?.touched
          "
        />
        <div
          [hidden]="siteEngineerNameEn?.valid || siteEngineerNameEn?.untouched"
        >
          <small *ngIf="siteEngineerNameEn?.errors?.['required']">
            * SiteEngineerNameEn is required.
          </small>
        </div>
      </div>

      <div class="col-md-12">
        <label for="image" class="d-block fw-bold mb-2">{{ "projects.add.image" | translate }}</label>
        <input type="file" id="image" (change)="SelectImage($event)" />
      </div>
    </div>
  </form>

  <footer class="tw-p-6">
    <div class="d-flex justify-content-center align-items-center">
      <div mat-flat-button class="btn btn-success py-1 px-5 mx-2">
        <button [disabled]="form.invalid" (click)="Add()">{{ "projects.add.create" | translate }}</button>
      </div>

      <div mat-flat-button matDialogClose class="btn btn-danger py-1 px-5">
        <button>{{ "projects.add.close" | translate }}</button>
      </div>
    </div>
  </footer>
</div>
