<div class="main container py-5">
  <div class="top">
    <h1>{{ "addresses.all.allAddresses" | translate }}</h1>
    <button class="add" (click)="Add()">{{ "addresses.all.add" | translate }}</button>
    <div class="filter">
      <h4>{{ "addresses.all.company" | translate }}</h4>
      <select #companyId (change)="FilterAddresses(companyId)">
        <option value="0">{{ "addresses.all.all" | translate }}</option>
        <option
          [value]="company.id"
          *ngFor="let company of companies"
        >
          {{ company.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="tableContainer">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>{{ "addresses.all.address" | translate }}</th>
          <th>{{ "addresses.all.company" | translate }}</th>
          <th>{{ "addresses.all.image" | translate }}</th>
          <th>{{ "addresses.all.actions" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let address of addresses; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ address.address }}</td>
          <td>{{ address.companyName }}</td>
          <td>
            <img [src]="address.companyImage" alt="" />
          </td>
          <td>
            <button class="details" (click)="Details(address)">
              {{ "addresses.all.details" | translate }}
            </button>
            <button class="update" (click)="Update(address)">{{ "addresses.all.update" | translate }}</button>
            <button class="delete" (click)="Delete(address.id)">
              {{ "addresses.all.delete" | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
