<div class="main container py-5">
  <div class="top">
    <h1>{{ "jobs.all.allJobs" | translate }}</h1>
    <button class="add" (click)="Add()">
      {{ "jobs.all.add" | translate }}
    </button>
    <div class="filter">
      <h4>{{ "jobs.all.company" | translate }}</h4>
      <select #companyId (change)="FilterJobs(companyId)">
        <option value="0">{{ "jobs.all.all" | translate }}</option>
        <option [value]="company.id" *ngFor="let company of companies">
          {{ company.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="tableContainer">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>{{ "jobs.all.title" | translate }}</th>
          <th>{{ "jobs.all.description" | translate }}</th>
          <th>{{ "jobs.all.averageSalary" | translate }}</th>
          <th>{{ "jobs.all.dateTime" | translate }}</th>
          <th>{{ "jobs.all.company" | translate }}</th>
          <th>{{ "jobs.all.actions" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobs; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ job.title }}</td>
          <td>{{ job.description }}</td>
          <td>{{ job.averageSalary }}</td>
          <td>{{ job.dateTime | date }}</td>
          <td>{{ job.companyName }}</td>
          <td>
            <button class="details" (click)="Details(job)">
              {{ "jobs.all.details" | translate }}
            </button>
            <button class="update" (click)="Update(job)">
              {{ "jobs.all.update" | translate }}
            </button>
            <button class="delete" (click)="Delete(job.id)">
              {{ "jobs.all.delete" | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
