<div class="main container py-5">
  <div class="top">
    <h1>{{ "products.all.allProducts" | translate }}</h1>
    <button class="add" (click)="Add()">{{ "products.all.add" | translate }}</button>
    <div class="filter">
      <h4>{{ "products.all.company" | translate }}</h4>
      <select #companyId (change)="FilterProducts(companyId)">
        <option value="0">{{ "products.all.all" | translate }}</option>
        <option [value]="company.id" *ngFor="let company of companies">
          {{ company.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="tableContainer">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>{{ "products.all.name" | translate }}</th>
          <th>{{ "products.all.description" | translate }}</th>
          <th>{{ "products.all.image" | translate }}</th>
          <th>{{ "products.all.company" | translate }}</th>
          <th>{{ "products.all.actions" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>
            <img [src]="product.image" alt="" />
          </td>
          <td>{{ product.companyName }}</td>
          <td>
            <button class="details" (click)="Details(product)">{{ "products.all.details" | translate }}</button>
            <button class="update" (click)="Update(product)">{{ "products.all.update" | translate }}</button>
            <button class="delete" (click)="Delete(product.id)">{{ "products.all.delete" | translate }}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
