<div class="container main py-5">
  <h2>{{ "register.register" | translate }}</h2>
  <form [formGroup]="userRegisterForm" (ngSubmit)="submit()">
    <div class="mb-3">
      <label for="fullName" class="form-label">{{ "register.fullName" | translate }}</label>
      <input
        type="text"
        formControlName="fullName"
        class="form-control"
        id="fullName"
        name="fullName"
        [class.is-invalid]="fullName?.invalid && fullName?.touched"
        [class.is-valid]="fullName?.valid && fullName?.touched"
      />
      <div [hidden]="fullName?.valid || fullName?.untouched">
        <small *ngIf="fullName?.errors?.['required']">
          * FullName is required.
        </small>
        <small *ngIf="fullName?.errors?.['pattern']">
          * FirstName must be 3 letters at least,
          <b>{{fullName?.errors?.['pattern'].actualValue}}</b> is not valid.
        </small>
      </div>
    </div>

    <div class="mb-3">
      <label for="userName" class="form-label">{{ "register.userName" | translate }}</label>
      <input
        type="text"
        formControlName="userName"
        class="form-control"
        id="userName"
        name="userName"
        [class.is-invalid]="userName?.invalid && userName?.touched"
        [class.is-valid]="userName?.valid && userName?.touched"
      />
      <div [hidden]="userName?.valid || userName?.untouched">
        <small *ngIf="userName?.errors?.['required']">
          * UserName is required.
        </small>
        <small *ngIf="userName?.errors?.['pattern']">
          * UserName must be 3 letters at least,
          <b>{{userName?.errors?.['pattern'].actualValue}}</b> is not valid.
        </small>
      </div>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">{{ "register.email" | translate }}</label>
      <input
        type="email"
        formControlName="email"
        class="form-control"
        id="email"
        name="email"
        [class.is-invalid]="email?.invalid && email?.touched"
        [class.is-valid]="email?.valid && email?.touched"
      />
      <div [hidden]="email?.valid || email?.untouched">
        <small *ngIf="email?.errors?.['required']">
          * Email is required.
        </small>
        <small *ngIf="email?.errors?.['pattern']">
          * Please provide a valid email address,
          <b>{{email?.errors?.['pattern'].actualValue}}</b> is not valid.
        </small>
      </div>
    </div>

    <div class="mb-3">
      <label for="phoneNumber" class="form-label">{{ "register.phone" | translate }}</label>
      <input
        type="text"
        formControlName="phoneNumber"
        class="form-control"
        id="phoneNumber"
        name="phoneNumber"
        [class.is-invalid]="phoneNumber?.invalid && phoneNumber?.touched"
        [class.is-valid]="phoneNumber?.valid && phoneNumber?.touched"
      />
      <div [hidden]="phoneNumber?.valid || phoneNumber?.untouched">
        <small *ngIf="phoneNumber?.errors?.['required']">
          * Phone Number is required.
        </small>
      </div>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">{{ "register.password" | translate }}</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        id="password"
        name="password"
        [class.is-invalid]="password?.invalid && password?.touched"
        [class.is-valid]="password?.valid && password?.touched"
      />
      <div [hidden]="password?.valid || password?.untouched">
        <small *ngIf="password?.errors?.['required']">
          * Password is required.
        </small>
        <small *ngIf="password?.errors?.['pattern']">
          * Please provide a valid Password.
        </small>
      </div>
    </div>

    <div class="mb-3">
      <label for="confirmPassword" class="form-label">{{ "register.confirmPassword" | translate }}</label>
      <input
        type="password"
        formControlName="confirmPassword"
        class="form-control"
        id="confirmPassword"
        name="confirmPassword"
        [class.is-invalid]="
          confirmPassword?.invalid && confirmPassword?.touched
        "
        [class.is-valid]="confirmPassword?.valid && confirmPassword?.touched"
      />
      <div [hidden]="confirmPassword?.valid || confirmPassword?.untouched">
        <small *ngIf="confirmPassword?.errors?.['required']">
          * Confirm Password is required.
        </small>
        <small *ngIf="confirmPassword?.errors?.['mismatch']">
          * Password doesn't match</small
        >
      </div>
    </div>

    <div class="mb-3">
      <label for="address" class="form-label">{{ "register.address" | translate }}</label>
      <input
        type="text"
        formControlName="address"
        class="form-control"
        id="address"
        name="address"
        [class.is-invalid]="address?.invalid && address?.touched"
        [class.is-valid]="address?.valid && address?.touched"
      />
      <div [hidden]="address?.valid || address?.untouched">
        <small *ngIf="address?.errors?.['required']">
          * Address is required.
        </small>
        <small *ngIf="address?.errors?.['pattern']">
          * Address must be 3 letters at least,
          <b>{{address?.errors?.['pattern'].actualValue}}</b> is not valid.
        </small>
      </div>
    </div>
    <div class="row mt-3" [hidden]="!isSuperAdmin">
      <div class="col-md-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ "register.role" | translate }}</mat-label>
          <mat-select formControlName="role">
            <mat-option *ngFor="let role of roles" [value]="role?.name">
              {{ role?.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <button [disabled]="userRegisterForm.invalid" type="submit" class="btn">
      {{ "register.submit" | translate }}
    </button>
  </form>
</div>
