<div class="main container py-5">
  <div class="top">
    <h1>{{ "posts.all.allPosts" | translate }}</h1>
    <button class="add" (click)="Add()">{{ "posts.all.add" | translate }}</button>
    <div class="filter">
      <h4>{{ "posts.all.company" | translate }}</h4>
      <select #companyId (change)="FilterPosts(companyId)">
        <option value="0">{{ "posts.all.all" | translate }}</option>
        <option
          [value]="company.id"
          *ngFor="let company of companies"
        >
          {{ company.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="tableContainer">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>{{ "posts.all.content" | translate }}</th>
          <th>{{ "posts.all.image" | translate }}</th>
          <th>{{ "posts.all.company" | translate }}</th>
          <th>{{ "posts.all.actions" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ post.content }}</td>
          <td>
            <img [src]="post.image" alt="" />
          </td>
          <td>{{ post.companyName }}</td>
          <td>
            <button class="details" (click)="Details(post)">
              {{ "posts.all.details" | translate }}
            </button>
            <button class="update" (click)="Update(post)">{{ "posts.all.update" | translate }}</button>
            <button class="delete" (click)="Delete(post.id)">
              {{ "posts.all.delete" | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
