<div class="main container py-5">
  <div class="top">
    <h1>{{ "clients.all.allClients" | translate }}</h1>
    <button class="add" (click)="Add()">
      {{ "clients.all.add" | translate }}
    </button>
    <div class="filter">
      <h4>{{ "clients.all.company" | translate }}</h4>
      <select #companyId (change)="FilterClients(companyId)">
        <option value="0">{{ "clients.all.all" | translate }}</option>
        <option [value]="company.id" *ngFor="let company of companies">
          {{ company.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="tableContainer">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>{{ "clients.all.name" | translate }}</th>
          <th>{{ "clients.all.image" | translate }}</th>
          <th>{{ "clients.all.company" | translate }}</th>
          <th>{{ "clients.all.actions" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ client.name }}</td>
          <td>
            <img [src]="client.image" alt="" />
          </td>
          <td>{{ client.companyName }}</td>
          <td>
            <button class="details" (click)="Details(client)">
              {{ "clients.all.details" | translate }}
            </button>
            <button class="update" (click)="Update(client)">
              {{ "clients.all.update" | translate }}
            </button>
            <button class="delete" (click)="Delete(client.id)">
              {{ "clients.all.delete" | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
