<div class="main container py-5">
  <div class="top">
    <h1>{{ "homeImages.all.allHomeImages" | translate }}</h1>
    <button class="add" (click)="Add()">{{ "homeImages.all.add" | translate }}</button>
    <div class="filter">
      <h4>{{ "homeImages.all.company" | translate }}</h4>
      <select #companyId (change)="FilterHomeImages(companyId)">
        <option value="0">{{ "homeImages.all.all" | translate }}</option>
        <option
          [value]="company.id"
          *ngFor="let company of companies"
        >
          {{ company.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="tableContainer">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>{{ "homeImages.all.image" | translate }}</th>
          <th>{{ "homeImages.all.company" | translate }}</th>
          <th>{{ "homeImages.all.actions" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let homeImage of homeImages; index as i">
          <td>{{ i + 1 }}</td>
          <td>
            <img [src]="homeImage.imageURL" alt="" />
          </td>
          <td>{{ homeImage.companyName }}</td>
          <td>
            <button class="details" (click)="Details(homeImage)">
              {{ "homeImages.all.details" | translate }}
            </button>
            <button class="update" (click)="Update(homeImage)">{{ "homeImages.all.update" | translate }}</button>
            <button class="delete" (click)="Delete(homeImage.id)">
              {{ "homeImages.all.delete" | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
